@model List<AttendanceSystemFinal.Models.Attendance>


<div class="container-fluid">
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>All Students</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>

                        <th>student name</th>
                        <th>student state</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i=0;i<Model.Count();i++) 
            {


                        <tr>
                            <td>@ViewBag.sss[i].stdName</td>
                            <td>@Html.ActionLink("exit", "changestatues", "Exit", new { Id = Model[i].stdId }, new { @class = "btn btn-danger" })</td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
    </div>

