
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-4">
    <div class="card-body">
        @Html.Label("Department name", new { @class = "lg mb-1" })

        @Html.DropDownList("department", ViewBag.department as SelectList, "--select Department--", new { @class = "btn btn-danger dropdown-toggle" })
        </div>
    </div>
        <div id="div1">

        </div>

        @section scripts{


            <script>
                $("#department").on("change", a => {

                    var id = $("#department").val();

                    $("#div1").load("/Exit/getstudent/" + id);

                })


            </script>

        }
